@import "tailwindcss";

:root {
  --background: #b4d39f;
  --foreground: #2d3e1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-quicksand: var(--font-quicksand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3d4f2f;
    --foreground: #d4e7c5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a, p {
  font-family: var(--font-quicksand), sans-serif;
}
